<footer>
  <div class="container-fluid">
    <div class="row">
      <ul class="footer-nav col-md-4 col-sm-12">
        <li><a href="/">Infinity</a></li>
        <li><a href="/our-story">Our Story</a></li>
        <li><a href="//support.one-education.org">Support</a></li>
        <li><a href="our-story#contact">Contact Us</a></li>
      </ul>
      <div class="footer-logo col-md-4 col-sm-12">
        <a href="https://one-education.org/">
          <img src="{{ 'logo-stacked.png' | asset_url }}" class="full-width">
        </a>
      </div>
      <ul class="social-nav col-md-4 col-sm-12">
        <li><a href="https://www.facebook.com/one.edu.org" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCgEkCAKUibPKSeF_w1iLuTQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://medium.com/road-to-infinity" target="_blank"><i class="fa fa-medium"></i></a></li>
        <li><a href="https://twitter.com/One_Education" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
<script>
  // Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30084167-1', 'auto');
  ga('send', 'pageview');

  // Crazy Egg
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0036/8699.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
